* {
  font-family: "Raleway", "sans-serif";
}
body {
  color: black;
  --bleu: #0065fc;
  --bleu-clair: #deebff;
  --gris: #f2f2f2;
  margin: 0 2rem;
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header img {
  margin: 2rem 0;
  padding-left: 0;
}
nav ul {
  display: flex;
  padding-top: 1rem;
  vertical-align: top;
}
.sub-nav {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 540px) {
  .sub-nav {
    order: 1;
  }
}
nav li {
  margin-right: 2rem;
  list-style-type: none;
  flex-wrap: wrap;
}
nav li :hover {
  color: var(--bleu);
  border-top: 3px solid var(--bleu);
}
a {
  text-decoration: none;
  color: black;
  padding-top: 1.8rem;
}
.subscrib {
  font-weight: bold;
  color: var(--bleu);
}
h1 {
  margin-bottom: 0;
}
.search p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
form {
  display: flex;
}
.marker {
  padding: 0.8rem 1rem;
  background-color: var(--gris);
  border: 1px solid var(--gris);
  border-radius: 0.5rem 0 0 0.5rem;
}
input {
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Raleway", san sans-serif;
  border-top: 1px solid var(--gris);
  border-bottom: 1px solid var(--gris);
  border-left: none;
  border-right: none;
}
button {
  padding: 0 1rem;
  background-color: var(--bleu);
  border: 1px solid var(--bleu);
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 1rem;
  font-family: "Raleway", san sans-serif;
  color: white;
  font-weight: bold;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  align-items: center;
}
.filter_type :hover {
  background-color: var(--gris);
  border-radius: 2rem;
  border-color: var(--gris);
}
.filter_type {
  position: relative;
  display: flex;
  height: 3rem;
  border: 2px solid var(--gris);
  border-radius: 2rem;
  margin-left: 1rem;
}
.filter_type i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -2px;
  top: -2px;
  border: 2px solid var(--bleu-clair);
  border-radius: 100%;
  background-color: var(--bleu-clair);
  width: 3rem;
  height: 3rem;
  color: var(--bleu);
}
.filter_type div {
  display: flex;
  align-items: center;
  padding: 0 1.2rem 0 3.5rem;
}
/*Code initial 1er essai à partir de là*/
.info {
  display: flex;
  align-items: center;
  justify-content: left;
}
.info_icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: solid 1px #deebff;
  color: #0065fc;
  margin-right: 1rem;
}
#results {
  display: flex;
  justify-content: space-between;
}
.hebergements {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 1rem;
  height: 650px;
  align-items: center;
  vertical-align: middle;
}
.titre_hebergement {
  text-align: left;
  padding-right: 45rem;
}
hebergements p{
  display: flex;
}
.rooms {
  flex-wrap: wrap;
  border: 3px solid black;
  border-radius: 1rem;
  justify-content: space-between;
  width: 30%;
  height: 250px;
}
.picture_room1 {
  height: 60%;
  border-radius: 0.8rem 0.8rem 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("images/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
.picture_room2 {
  height: 60%;
  border-radius: 0.8rem 0.8rem 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("images/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
.picture_room3 {
  height: 60%;
  border-radius: 0.8rem 0.8rem 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("images/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
.picture_room4 {
  height: 60%;
  border-radius: 0.8rem 0.8rem 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("images/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.picture_room5 {
  height: 60%;
  border-radius: 0.8rem 0.8rem 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("images/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
.picture_room6 {
  height: 60%;
  border-radius: 0.8rem 0.8rem 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("images/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}
.popular {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 1rem;
  height: 650px;
}
.blue_star {
  color: #0065fc;
}
.grey_star {
  color: #deebff;
}
